.MainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Main {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: rgb(201, 201, 201);
    border: 5px solid rgb(115, 115, 115);
    padding: 10px;
    margin-bottom: 20px;
}

.ReadMore-Button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #282c34;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    animation: fadeIn 1s;
}

.ReadMore-Button:hover {
    background-color: #282c34;
    color: #ffffff;
}

.ReadMore-Button:active {
    background-color: #ffffff;
    color: #000000;
}