.App-header {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #282c34; /* Change to your preferred color */
    padding: 20px;
  }
  
  .Header-Text {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .SearchButton {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
  }

  .SearchButton:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .Header-Text:hover {
    cursor: pointer;
  }