.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    margin-left: 20px;
    padding-top: 20px;
    width: 20%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.Subreddit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Subreddit-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.Subreddit{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    animation: fadeIn 1s;
}

.Subreddit:hover {
    color: #0099ff;
}

.Subreddit:active, .Subreddit.selected {
    border-left: 3px solid #333;
    background-color: #f0f0f0;
    padding-left: 7px; /* reduce padding to account for border */
} 